<footer class="inner">
  <p class="copyright black_shadow">{{ site.title }} maintained by <a href="https://github.com/{{ site.github_username }}" class="black_shadow">{{ site.github_username }}</a></p>
  <p class="black_shadow">Published with <a href="http://pages.github.com" class="black_shadow">GitHub Pages</a></p>
  <p class="black_shadow">Original background image from <a href="{{ site.original_background_image_url }}" class="black_shadow">here</a> (<a href="{{ site.background_image_licence }}" class="black_shadow">license</a>)</p>
</footer>

