<footer class="inner">
  <p class="copyright" style="color:gray">{{ site.title }} maintained by <a href="https://github.com/{{ site.github_username }}" style="color:gray">{{ site.github_username }}</a></p>
  <p style="color:gray">Published with <a href="http://pages.github.com" style="color:gray">GitHub Pages</a></p>
  <p style="color:gray">Original background image from <a href="{{ site.original_background_image_url }}" style="color:gray">here</a> (<a href="{{ site.background_image_licence }}" style="color:gray">license</a>)</p>
</footer>

