<footer class="inner">
  <p class="copyright" style="color:black; text-shadow: 1px 1px 3px #000;">{{ site.title }} maintained by <a href="https://github.com/{{ site.github_username }}" style="color:black; text-shadow: 1px 1px 3px #000;">{{ site.github_username }}</a></p>
  <p style="color:black; text-shadow: 1px 1px 3px #000;">Published with <a href="http://pages.github.com" style="color:black; text-shadow: 1px 1px 3px #000;">GitHub Pages</a></p>
  <p style="color:black; text-shadow: 1px 1px 3px #000;">Original background image from <a href="{{ site.original_background_image_url }}" style="color:black; text-shadow: 1px 1px 3px #000;">here</a> (<a href="{{ site.background_image_licence }}" style="color:black; text-shadow: 1px 1px 3px #000;">license</a>)</p>
</footer>

